version: "3.9"
services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: streaming
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
  app:
    image: ghcr.io/sahilk1234/streamly:latest
    depends_on:
      - db
      - minio
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/streaming
      NEXTAUTH_SECRET: dev-secret
      NEXTAUTH_URL: http://localhost:3000
      MEDIA_STORAGE: local
      LOCAL_MEDIA_DIR: /app/storage
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minio
      S3_SECRET_KEY: minio123
      S3_BUCKET: media
      S3_REGION: us-east-1
      RUN_DB_SEED: "true"
      RUN_DEMO_DOWNLOAD: "true"
    ports:
      - "3000:3000"
    volumes:
      - ./storage:/app/storage
volumes:
  postgres_data:
  minio_data:
